* {
  box-sizing: border-box;
}

.hidden { 
  display: none;
 }

 .visible {
  display: block; 
  font-size: 18px; 
  margin-top: 20px; 
}

body {
  font-family: Arial;
  background-color: #3498DB;
  padding: 50px;
}

.login { 
  margin: auto; 
  width: 300px; 
}

.login-screen {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px;
}

.app-title { text-align: center; 
  color: #777; 
}

input, .correct-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}

input {
  background-color: #ECF0F1;
  border: 2px solid #3498DB;
  border-radius: 3px;
}

.correct-input {
  background: #3498DB;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.correct-input:hover { 
  background-color: #2980B9; 
}
